/* first header */
body{
    font-family: Muli;
}
.header{
    background: #f5fafe;
    height: 45px;
}
.header div:nth-child(3), .header div:nth-child(2){
    display: flex;
    justify-content: flex-end;
    padding: 12px 0px;
    font-size: small;
}
.header a {
    color: black;
    text-decoration: none;
}
.header a:hover{
    color: #ec1f46;
    text-decoration: none;
}
.header p{
    padding: 12px 0px;
    font-size: small;
}
.header p span{
    font-weight: 550;
}
.header i{
    padding: 0px 20px;
}


/* second header */
.logo-ct{
    display:none;
}
.header2{
    background: #fff;
    height:100px;
    width: 100%;
}
.header2 .col-md-4,.header2 .col-md-3{
    padding: 34px 15px;
}
.header2 .mycart{
    padding: 32px 15px;
}
.header2 div:nth-child(3) .cart{
   float: right;
}
.header2 div:nth-child(3) .dropdown{
   float: right;
}
.cart span{
    padding: 1px 5px;
    background: #ec1f46;
    border-radius: 50%;
    color:#fff;
    font-size:10px;
    position: absolute;
    top: 30px;
    left: 270px;
}
.fa-shopping-cart{
    font-size: 30px;
    color:black;
}
.header2 .col-md-3 input::placeholder{
    font-size: small;
    background: #f5fafe;
}
.header2 .col-md-3 .input-group-text{
    color: #fff;
    border: 1px solid #ec1f46;
    background: #ec1f46;
    padding: 0px 20px;
}
.header2 .col-md-3 input{
    border: 1px solid #f5fafe;
    border-radius: inherit;
    background: #f5fafe;
}


/* Navigation section */
.menu li{
    list-style-type: none;
    display: inline;
    padding: 10px 31px;
}
.menu ul{
    
    padding: 23px 0px;
}
.menu{
    height: 70px;
    background: #0a223e;
}
.menu a{
    text-decoration: none;
    color: #fff;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
}
.menu a:hover {
    text-decoration: none;
    color: #ec1f46;
}


/* first section */
.first-section{
    background: #f5fafe;
}
.first-section .row .map{
    background: url(./assets/map.png);
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    height: 250px;
}
.first-section .breadcrumb{
    color:#2b4157;
    height: 40px;
    padding: 15px ;
}
.first-section .breadcrumb a{
    color: black;
    text-decoration: none;
}
.first-section .breadcrumb a:hover{
    color: #ec1f46;
}
.breadcrumb{
    background-color: transparent !important;
}
.first-section .fa-star{
    color: orange;
    font-size: small;
}
.first-section .offer{
    font-size: 19px;
    background: #ec1f46;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}
.first-section p{
    margin-bottom: 0px;
    font-size: large;
    letter-spacing: 0.6px;
}
.first-section span.grand{
    font-size: 37px;
    font-weight: 600;
}
.first-section .rating{
    background: #ec1f46;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    width: fit-content;
    height: fit-content;
}
.first-section .rating p{
    font-size: 9px;
}
.first-section .rate{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.first-section .card{
    background: #0a223e;
    color: #fff;
    height: 225px;
}
.first-section .card{
    padding: 30px 15px;
    width: 100%;
}
.first-section .card-rt{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.first-section .card-rt p{
    font-size: small;
}
.first-section .card-rt i{
   opacity: 0.8;
}
.first-section .card-lt p{
    font-size: small;
}
.first-section .card-lt h6{
    font-weight: 600;
}
.first-section .danger a{
    text-decoration: none;
    color: #fff;
}
.first-section .danger a:hover{
    text-decoration: none;
    background: #fff;
    border: inherit;
    justify-content: center;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    width: 100%;
    margin: 15px;
    color: #ec1f46;
}
.first-section .danger a{
    text-decoration: none;
    background: #ec1f46;
    border: inherit;
    justify-content: center;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    width: 100%;
    color: #fff;
    margin: 15px;
}


/* second section  */
.second-section{
    background: #f5fafe;
}
.second-section a{
    color:black;
    font-size:15px;
}
.second-section a.active{
    color:#ec1f46;
    border-bottom: 2px solid #ec1f46;
}
.nav{
    justify-content: space-between;
}
.nav-link {
    display: block;
    padding: .5rem 0rem;
}
.card{
    border: inherit;
}
.card-body{
    border-radius: 0px 0px 10px 10px;
}
.embed-responsive{
    border-radius: 10px;
    height: 200px;
}
.second-section .blue{
    background: #0a223e;
    color:#fff;
}
.second-section .fa-check-circle{
    color: #0a223e;
    background: #fff;
    font-size: medium;
}
.card-body p{
    font-size: 12px;
}
.second-section .card-body .chill p{
    font-size: 11.5px;
}
.second-section .card-body span{
    font-size: 10px;
}
.second-section .card-body .col-md-6 span.lux{
    margin-bottom: 0.8rem !important;
    font-size: 11.5px;
}
.second-section .card-body .col-md-4 h6{
    color: #ec1f46;
}
.second-section .card-body  hr{
    border: 2px dashed #e0e0e0;
}


/* third section  */
.third-section{
    background: #f5fafe;
}

.third-section .side-image3 {
    display:none;
}
.third-section h3{
    color: #0a223e;
    text-align: center;
    font-weight: 600;
}
.third-section .ftd{
    background: url('./assets/fl1.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
}
.third-section .side-image{
    background: #0a223e;
    color: #fff;
}
.third-section .side-image .fa-star{
    color: orange;
    font-size: 10px;
}
.third-section .side-image p{
    padding: 0;
    margin: 0;
}
.third-section .side-image span{
   color: #fff;
   margin-bottom: 20px !important;
}
.third-section .danger a:hover {
    text-decoration: none;
    background: #fff;
    border: inherit;
    justify-content: center;
    padding: 10px 18px;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    margin: 15px;
    color: #ec1f46;
}
.third-section .danger a {
    text-decoration: none;
    background: #ec1f46;
    border: inherit;
    justify-content: center;
    padding: 10px 18px;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    color: #fff;
    margin: 15px;
}
.third-section .side-image .haven{
    padding: 40px 3px 25px 3px;
}


/* fourth section  */
.fourth-section{
    background: #f5fafe;
}


/* Newsletter Section */
.news-section{
    background: url('./assets/tree.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;

}
.news-section .mail{
    padding: 100px 0px;
}
.news-section .col-md-3 .input-group-text{
    color: #fff;
    border: 1px solid #ec1f46;
    background: #ec1f46;
    padding: 0px 10px;
}
.news-section .col-md-3 input{
    border: 1px solid #fff;
    border-radius: inherit;
    background: #fff;
}


/* fifth section  */
.fifth-section-2{
    display: none;
}
.fifth-section{
    background: #f5fafe;
    color: #fff;
}
.fifth-section .row .ftd1{
    background: url(./assets/Bg.png);
    background-repeat: no-repeat;
    background-size:contain;
    height: 256px;
    width: 100%;
}
.fifth-section .row .ftd2{
    background: url('./assets/Bg\ \(1\).png');
    background-repeat: no-repeat;
    background-size:contain;
    height: 256px;
    width: 100%;
}
.fifth-section .row .ftd3{
    background: url('./assets/Bg\ \(2\).png');
    background-repeat: no-repeat;
    background-size:contain;
    height: 256px;
    width: 100%;
}
.fifth-section .row .ftd4{
    background: url('./assets/Bg\ \(3\).png');
    background-repeat: no-repeat;
    background-size:contain;
    height: 256px;
    width: 100%;
    
}
.fifth-section .row .ftd1, .fifth-section .row .ftd2,
.fifth-section .row .ftd3, .fifth-section .row .ftd4{
   display: flex;
   justify-content: end;
   align-items: flex-end;
   justify-content: space-around;
}
.fifth-section .danger a:hover {
    text-decoration: none;
    background: #fff;
    border: inherit;
    justify-content: center;
    padding: 10px 18px;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    margin: 0px;
    color: #ec1f46;
}
.fifth-section .danger a {
    text-decoration: none;
    background: #ec1f46;
    border: inherit;
    justify-content: center;
    padding: 10px 18px;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    color: #fff;
    margin: 0px;
}


/* footer section  */
.footer{
    background: #0a223e;
    color:#fff
}
.footer  h4{
    color:#fff;
    text-align: left;
}
.footer li a{
    color:#fff;
    cursor: pointer;
}
.footer li a:hover{
    color:#2b4157;
    text-decoration:none;
    cursor: pointer;
}
.footer .rear{
    text-align: center;
}
.footer .rear a{
    color: #fff;
    padding: 8px;
    font-size: 14px;
}
.footer .rear a:hover{
    color: #2b4157;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
}
.footer .support{
    display: flex;
    justify-content: flex-end;
}
.footer .submit{
    color: #fff;
    background: #ec1f46;
    padding: 7px 50px;
    font-size: 12px;
    border-radius: 4px;
    border: inherit;
}
.footer .submit:hover{
    color: #ec1f46;
    background: #fff;
    padding: 7px 50px;
    font-size: 12px;
    border-radius: 4px;
    border: inherit;
}
.footer .logo{
    display: flex;
    align-items: center;
}
.footer  h4{
    font-size: 14px;
    padding-bottom: 5px;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
}
.footer ul{
    list-style-type: none;
    padding: 0px;
}
.footer li{
   font-size: 12px;
   line-height: 1.4rem;
}
.footer span i{
    background: #BDBDBD;
    color:black;
    height: 20px;
    font-size: small;
    text-align: center;
    padding-top: 3px;
    width: 20px;
    margin-right: 5px;
    border-radius: 50%;
}
.footer span i:hover{
    background: white;
    color:black;
}


/* mobile responsiveness */
@media (max-width: 1024px) {

    /* header */
    .header{
        background: #f5fafe;
        height: 90px;
    }
    .header div:nth-child(3), .header div:nth-child(2){
        display: flex;
        justify-content: flex-start;
        padding: 5px 0px;
        font-size: small;
    }
    .header p{
        padding: 5px 0px;
        font-size: small;
        margin-bottom:0px;
    }
    .logo-ct  input::placeholder{
        font-size: small;
        background: #f5fafe;
    }
    .logo-ct .input-group-text{
        color: #fff;
        border: 1px solid #ec1f46;
        background: #ec1f46;
        padding: 0px 20px;
    }
    .logo-ct input{
        border: 1px solid #f5fafe;
        border-radius: inherit;
        background: #f5fafe;
    }
    .cart{
        padding: 1px 5px;
        background: #ec1f46;
        border-radius: 50%;
        color:#fff;
        font-size:14px;
    }


    /* header 2 */
    .header2{
        display:none;
    }
    .logo-ct{
        display:inline;
    }
    .menu{
        display:none;
    }


    /* first section */
    .first-section .rate {
        display: none;
    }
    .first-section .card {
        background: #0a223e;
        color: #fff;
        height: auto;
    }
    .first-section .card-rt {
        align-items: flex-start;
    }


    /* second section */
    div#home {
        padding-left: 15px !important;
    }


    /* third section */
    .third-section .side-image2 {
        display:none;
    }
    .third-section .side-image3 {
        display:inline;
    }
    .third-section .danger a {
        text-decoration: none;
        background: #ec1f46;
        border: inherit;
        justify-content: center;
        padding: 5px 10px;
        border-radius: 2px;
        text-align: center;
        width: 100%;
        color: #fff;
        margin: 0px;
    }
    .third-section .danger a:hover {
        text-decoration: none;
        background: #fff;
        border: inherit;
        justify-content: center;
        padding: 5px 08px;
        border-radius: 4px;
        text-align: center;
        width: 100%;
        margin: 0px;
        color: #ec1f46;
    }

    
    /* fifth-section */
    .fifth-section .row .ftd1, .fifth-section .row .ftd2, .fifth-section .row .ftd3, .fifth-section .row .ftd4 {
        width: auto;
        height: 200px;
    }
    .fifth-section-2{
        display: flex;
    }
    .fifth-section{
        display: none;
    }
    .fifth-section-2{
        background: #f5fafe;
        color: #fff;
    }
    .fifth-section-2 .row .ftd1{
        background: url(./assets/Bg.png);
        background-repeat: no-repeat;
        background-size:contain;
        height: 256px;
        width: 100%;
    }
    .fifth-section-2 .row .ftd2{
        background: url('./assets/Bg\ \(1\).png');
        background-repeat: no-repeat;
        background-size:contain;
        height: 256px;
        width: 100%;
    }
    .fifth-section-2 .row .ftd3{
        background: url('./assets/Bg\ \(2\).png');
        background-repeat: no-repeat;
        background-size:contain;
        height: 256px;
        width: 100%;
    }
    .fifth-section-2 .row .ftd4{
        background: url('./assets/Bg\ \(3\).png');
        background-repeat: no-repeat;
        background-size:contain;
        height: 256px;
        width: 100%;
        
    }
    .fifth-section-2 .row .ftd1, .fifth-section-2 .row .ftd2,
    .fifth-section-2 .row .ftd3, .fifth-section-2 .row .ftd4{
       display: flex;
       justify-content: end;
       align-items: flex-end;
       justify-content: space-around;
    }
    .fifth-section-2 .danger a:hover {
        text-decoration: none;
        background: #fff;
        border: inherit;
        justify-content: center;
        padding: 10px 18px;
        border-radius: 4px;
        text-align: center;
        width: 100%;
        margin: 0px;
        color: #ec1f46;
    }
    .fifth-section-2 .danger a {
        text-decoration: none;
        background: #ec1f46;
        border: inherit;
        justify-content: center;
        padding: 10px 18px;
        border-radius: 4px;
        text-align: center;
        width: 100%;
        color: #fff;
        margin: 0px;
    }
    
    
}
