/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

/*themeblue #0a223e*/

:root {

  /**
   * colors
   */
  --themeblue: hsl(212,72%,14%); 
  --themepink: hsl(349,84%,52%);
  --pale-purple-pantone: hsl(262, 63%, 92%);
  --medium-sea-green: hsl(152, 63%, 43%);
  --lavender-blush: hsl(336, 35%, 92%);
  --carolina-blue: hsl(204, 91%, 53%);
  --columbia-blue: hsl(204, 92%, 90%);
  --alice-blue-1: hsl(216, 38%, 95%);
  --alice-blue-2: hsl(216, 75%, 97%);
  --alice-blue-3: hsl(216, 38%, 95%);
  --alice-blue-4: hsl(217, 33%, 92%);
  --independence: hsl(219, 21%, 39%);
  --deep-cerise: hsl(329, 63%, 52%);
  --eerie-black: hsl(210, 11%, 15%);
  --space-cadet: hsl(240, 22%, 25%);
  --blue-jeans: hsl(204, 80%, 63%);
  --slate-blue: hsl(262, 60%, 57%);
  --beau-blue: hsl(208, 86%, 92%);
  --honey-dew: hsl(152, 48%, 89%);
  --mimi-pink: hsl(329, 63%, 90%);
  --red-salsa: hsl(0, 79%, 63%);
  --sapphire: hsl(211, 100%, 35%);
  --manatee: hsl(219, 14%, 60%);
  --white: hsl(0, 0%, 100%);

  --gradient: linear-gradient(to top, var(--alice-blue-2), var(--alice-blue-3));

  /**
   * typography
   */

  --ff-nunito: 'Nunito', sans-serif;
  --ff-open-sans: 'Open Sans', sans-serif;

  --fs-1: 2.125rem;
  --fs-2: 1.875rem;
  --fs-3: 1.5rem;
  --fs-4: 1.375rem;
  --fs-5: 1.125rem;
  --fs-6: 0.875rem;
  --fs-7: 0.625rem;

  --fw-400: 400;
  --fw-600: 600;

  /**
   * transition
   */

  --transition: 0.5s ease;
  /**
   * spacing
   */

  --section-padding: 50px;

  /**
   * radius
   */
  --radius-10: 10px;
  --radius-14: 14px;
  --radius-18: 18px;
  /**
   * shadow
   */
  --shadow-1: 3px 3px 9px hsla(240, 14%, 69%, 0.2);
  --shadow-2: 3px 3px 9px hsla(204, 92%, 59%, 0.3);

}


/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
label,
input,
button,
ion-icon { display: block; }

button,
input {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

input { width: 100%; }

ion-icon { pointer-events: none; }

html {
  font-family: var(--ff-open-sans);
  color: var(--eerie-black);
  font-size: 1rem;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  background: var(--alice-blue-1);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

::-webkit-scrollbar-track { background: var(--white); }

::-webkit-scrollbar-thumb {
  background: hsla(219, 14%, 60%, 0.3);
  border: 2px solid var(--white);
}

::-webkit-scrollbar-thumb:hover { background: hsla(219, 14%, 60%, 0.5); }


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

button, a { transition: var(--transition); }

.btn {
  position: relative;
  background: var(--background, var(--carolina-blue));
  color: var(--color, var(--white));
  min-width: var(--width, 40px);
  min-height: var(--height, 40px);
  padding: 5px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-14);
  font-family: var(--ff-nunito);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  overflow: hidden;
}

.btn ion-icon {
  font-size: 22px;
  --ionicon-stroke-width: 40px;
  color: var(--white);
}

.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, hsla(0, 0%, 100%, 0.4), transparent);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
}

.btn:is(:hover, :focus) { box-shadow: var(--shadow-2); }

.btn:is(:hover, :focus)::before { opacity: 1; }

.section { padding-block: var(--section-padding); }

.h1,
.h2,
.h3 {
  color: var(--space-cadet);
  font-family: var(--ff-nunito);
  line-height: 1.4;
}

.h1 {
  font-size: var(--fs-1);
  text-transform: uppercase;
}

.h2,
.h3 { font-weight: var(--fw-400); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-4); }

.w-100 { width: 100%; }


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header-contact { display: none; }

.header {
  background: var(--themeblue);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition);
  z-index: 4;
}

.header.active { box-shadow: var(--shadow-1); }

.header .container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-actions .btn span { display: none; }

.user-btn {
  --color: var(--independence);
  --background: var(--white);
  --shadow-2: var(--shadow-1);
  box-shadow: var(--shadow-1);
}

.nav-toggle-btn span {
  background: var(--white);
  width: 22px;
  height: 2px;
  border-radius: 2px;
  margin-block: 8px;
  transform-origin: right;
  transition: var(--transition);
}

.nav-toggle-btn span.two { transform: scaleX(0.7); }

.nav-toggle-btn span.three { transform: scaleX(0.4); }

.nav-toggle-btn:is(:hover, :focus) span { background: var(--carolina-blue); }

.nav-toggle-btn.active span {
  transform: scaleX(1);
  background: var(--carolina-blue);
}

.navbar {
  background: var(--alice-blue-1);
  position: fixed;
  top: 70px;
  bottom: 0;
  right: -260px;
  max-width: 260px;
  width: 100%;
  padding: 20px 25px;
  border: 1px solid var(--white);
  box-shadow: var(--shadow-1);
  visibility: hidden;
  transition: 0.25s cubic-bezier(0.51, 0.03, 0.64, 0.28);
}

.navbar.active {
  visibility: visible;
  transform: translateX(-100%);
  transition: 0.5s cubic-bezier(0.33, 0.85, 0.56, 1.02);
}

.navbar-link {
  color: var(--independence);
  font-family: var(--ff-nunito);
  font-size: var(--fs-6);
  padding-block: 5px;
  margin-bottom: 15px;
}

.navbar-link:is(:hover, :focus) { color: var(--carolina-blue); }

.overlay {
  position: fixed;
  top: 70px;
  background: hsl(216, 38%, 95%);
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
}

.overlay.active {
  opacity: 0.7;
  pointer-events: all;
}




/* Navigation section */
.menu li{
    list-style-type: none;
    display: inline;
    padding: 10px 31px;
}
.menu ul{
    
    padding: 23px 0px;
}
.menu{
    height: 70px;
    background: var(--themeblue);
}
.menu a{
    text-decoration: none;
    color: #fff;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
}
.menu a:hover {
    text-decoration: none;
    color: #ec1f46;
}


/* first section */
.first-section{
    background: #f5fafe;
}
.first-section .row .map{
    background: url(./assets/map.png);
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    height: 250px;
}
.first-section .breadcrumb{
    color:#2b4157;
    height: 40px;
    padding: 15px ;
}
.first-section .breadcrumb a{
    color: black;
    text-decoration: none;
}
.first-section .breadcrumb a:hover{
    color: #ec1f46;
}
.breadcrumb{
    background-color: transparent !important;
}
.first-section .fa-star{
    color: orange;
    font-size: small;
}
.first-section .offer{
    font-size: 19px;
    background: #ec1f46;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}
.first-section p{
    margin-bottom: 0px;
    font-size: large;
    letter-spacing: 0.6px;
}
.first-section span.grand{
    font-size: 37px;
    font-weight: 600;
}
.first-section .rating{
    background: #ec1f46;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    width: fit-content;
    height: fit-content;
}
.first-section .rating p{
    font-size: 9px;
}
.first-section .rate{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.first-section .card{
    background: var(--themeblue);
    color: #fff;
    height: 225px;
}
.first-section .card{
    padding: 30px 15px;
    width: 100%;
}
.first-section .card-rt{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.first-section .card-rt p{
    font-size: small;
}
.first-section .card-rt i{
   opacity: 0.8;
}
.first-section .card-lt p{
    font-size: small;
}
.first-section .card-lt h6{
    font-weight: 600;
}
.first-section .danger a{
    text-decoration: none;
    color: #fff;
}
.first-section .danger a:hover{
    text-decoration: none;
    background: #fff;
    border: inherit;
    justify-content: center;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    width: 100%;
    margin: 15px;
    color: #ec1f46;
}
.first-section .danger a{
    text-decoration: none;
    background: #ec1f46;
    border: inherit;
    justify-content: center;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    width: 100%;
    color: #fff;
    margin: 15px;
}


/* second section  */
.second-section{
    background: #f5fafe;
}
.second-section a{
    color:black;
    font-size:15px;
}
.second-section a.active{
    color:#ec1f46;
    border-bottom: 2px solid #ec1f46;
}
.nav{
    justify-content: space-between;
}
.nav-link {
    display: block;
    padding: .5rem 0rem;
}
.card{
    border: inherit;
}
.card-body{
    border-radius: 0px 0px 10px 10px;
}
.embed-responsive{
    border-radius: 10px;
    height: 200px;
}
.second-section .blue{
    background: var(--themeblue);
    color:#fff;
}
.second-section .fa-check-circle{
    color: var(--themeblue);
    background: #fff;
    font-size: medium;
}
.card-body p{
    font-size: 12px;
}
.second-section .card-body .chill p{
    font-size: 11.5px;
}
.second-section .card-body span{
    font-size: 10px;
}
.second-section .card-body .col-md-6 span.lux{
    margin-bottom: 0.8rem !important;
    font-size: 11.5px;
}
.second-section .card-body .col-md-4 h6{
    color: #ec1f46;
}
.second-section .card-body  hr{
    border: 2px dashed #e0e0e0;
}


/* third section  */
.third-section{
    background: #f5fafe;
}

.third-section .side-image3 {
    display:none;
}
.third-section h3{
    color: var(--themeblue);
    text-align: center;
    font-weight: 600;
}
.third-section .ftd{
    background: url('./assets/fl1.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
}
.third-section .side-image{
    background: var(--themeblue);
    color: #fff;
}
.third-section .side-image .fa-star{
    color: orange;
    font-size: 10px;
}
.third-section .side-image p{
    padding: 0;
    margin: 0;
}
.third-section .side-image span{
   color: #fff;
   margin-bottom: 20px !important;
}
.third-section .danger a:hover {
    text-decoration: none;
    background: #fff;
    border: inherit;
    justify-content: center;
    padding: 10px 18px;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    margin: 15px;
    color: #ec1f46;
}
.third-section .danger a {
    text-decoration: none;
    background: #ec1f46;
    border: inherit;
    justify-content: center;
    padding: 10px 18px;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    color: #fff;
    margin: 15px;
}
.third-section .side-image .haven{
    padding: 40px 3px 25px 3px;
}


/* fourth section  */
.fourth-section{
    background: #f5fafe;
}


/* Newsletter Section */
.news-section{
    background: url('./assets/tree.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;

}
.news-section .mail{
    padding: 100px 0px;
}
.news-section .col-md-3 .input-group-text{
    color: #fff;
    border: 1px solid #ec1f46;
    background: #ec1f46;
    padding: 0px 10px;
}
.news-section .col-md-3 input{
    border: 1px solid #fff;
    border-radius: inherit;
    background: #fff;
}


/* fifth section  */
.fifth-section-2{
    display: none;
}
.fifth-section{
    background: #f5fafe;
    color: #fff;
}
.fifth-section .row .ftd1{
    background: url(./assets/Bg.png);
    background-repeat: no-repeat;
    background-size:contain;
    height: 256px;
    width: 100%;
}
.fifth-section .row .ftd2{
    background: url('./assets/Bg\ \(1\).png');
    background-repeat: no-repeat;
    background-size:contain;
    height: 256px;
    width: 100%;
}
.fifth-section .row .ftd3{
    background: url('./assets/Bg\ \(2\).png');
    background-repeat: no-repeat;
    background-size:contain;
    height: 256px;
    width: 100%;
}
.fifth-section .row .ftd4{
    background: url('./assets/Bg\ \(3\).png');
    background-repeat: no-repeat;
    background-size:contain;
    height: 256px;
    width: 100%;
    
}
.fifth-section .row .ftd1, .fifth-section .row .ftd2,
.fifth-section .row .ftd3, .fifth-section .row .ftd4{
   display: flex;
   justify-content: end;
   align-items: flex-end;
   justify-content: space-around;
}
.fifth-section .danger a:hover {
    text-decoration: none;
    background: #fff;
    border: inherit;
    justify-content: center;
    padding: 10px 18px;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    margin: 0px;
    color: #ec1f46;
}
.fifth-section .danger a {
    text-decoration: none;
    background: #ec1f46;
    border: inherit;
    justify-content: center;
    padding: 10px 18px;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    color: #fff;
    margin: 0px;
}


/* footer section  */
.footer{
    background: var(--themeblue);
    color:#fff
}
.footer  h4{
    color:#fff;
    text-align: left;
}
.footer li a{
    color:#fff;
    cursor: pointer;
}
.footer li a:hover{
    color:#2b4157;
    text-decoration:none;
    cursor: pointer;
}
.footer .rear{
    text-align: center;
}
.footer .rear a{
    color: #fff;
    padding: 8px;
    font-size: 14px;
}
.footer .rear a:hover{
    color: #2b4157;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
}
.footer .support{
    display: flex;
    justify-content: flex-end;
}
.footer .submit{
    color: #fff;
    background: #ec1f46;
    padding: 7px 50px;
    font-size: 12px;
    border-radius: 4px;
    border: inherit;
}
.footer .submit:hover{
    color: #ec1f46;
    background: #fff;
    padding: 7px 50px;
    font-size: 12px;
    border-radius: 4px;
    border: inherit;
}
.footer .logo{
    display: flex;
    align-items: center;
}
.footer  h4{
    font-size: 14px;
    padding-bottom: 5px;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
}
.footer ul{
    list-style-type: none;
    padding: 0px;
}
.footer li{
   font-size: 12px;
   line-height: 1.4rem;
}
.footer span i{
    background: #BDBDBD;
    color:black;
    height: 20px;
    font-size: small;
    text-align: center;
    padding-top: 3px;
    width: 20px;
    margin-right: 5px;
    border-radius: 50%;
}
.footer span i:hover{
    background: white;
    color:black;
}


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 350px screen
 */

@media (min-width: 350px) {

  /**
   * FEATURED CAR
   */
  .featured-car-card .card-list { grid-template-columns: 1fr 1fr; }

  .featured-car-card .card-price { margin-right: auto; }

  .featured-car-card .btn:last-child {
    min-width: max-content;
    padding-inline: 15px;
  }

}


/**
 * responsive for large than 580px screen
 */

@media (min-width: 580px) {

  /**
   * REUSED STYLE
   */
  .container {
    max-width: 540px;
    margin-inline: auto;
  }



  /**
   * HEADER
   */

  .header-actions .btn span {
    display: block;
    font-weight: var(--fw-400);
    padding-inline: 15px;
  }

  .header-actions .btn:first-of-type ion-icon { display: none; }

}




/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */
    --fs-1: 2.625rem;
  }


  /**
   * REUSED STYLE
   */
  .container { max-width: 720px; }
  /**
   * HEADER
   */

  .header-actions { gap: 30px; }

  .header-contact {
    display: block;
    text-align: center;
  }

  .header-contact .contact-link {
    color: var(--white);
    font-family: var(--ff-nunito);
    font-size: var(--fs-5);
    line-height: 1.3;
  }

  .header-contact .contact-link:is(:hover, :focus) { color: var(--carolina-blue); }

  .header-contact .contact-time {
    color: var(--themepink);
    font-size: var(--fs-7);
  }


/* mobile responsiveness */
@media (max-width: 1024px) {

    /* header */
    .header{
        background: var(--themeblue);
        height: 90px;
    }
    .header div:nth-child(3), .header div:nth-child(2){
        display: flex;
        justify-content: flex-start;
        padding: 5px 0px;
        font-size: small;
    }
    .header p{
        padding: 5px 0px;
        font-size: small;
        margin-bottom:0px;
    }
    .logo-ct  input::placeholder{
        font-size: small;
        background: #f5fafe;
    }
    .logo-ct .input-group-text{
        color: #fff;
        border: 1px solid #ec1f46;
        background: #ec1f46;
        padding: 0px 20px;
    }
    .logo-ct input{
        border: 1px solid #f5fafe;
        border-radius: inherit;
        background: #f5fafe;
    }
    .cart{
        padding: 1px 5px;
        background: #ec1f46;
        border-radius: 50%;
        color:#fff;
        font-size:14px;
    }


    


    /* first section */
    .first-section .rate {
        display: none;
    }
    .first-section .card {
        background: var(--themeblue);
        color: #fff;
        height: auto;
    }
    .first-section .card-rt {
        align-items: flex-start;
    }


    /* second section */
    div#home {
        padding-left: 15px !important;
    }


    /* third section */
    .third-section .side-image2 {
        display:none;
    }
    .third-section .side-image3 {
        display:inline;
    }
    .third-section .danger a {
        text-decoration: none;
        background: #ec1f46;
        border: inherit;
        justify-content: center;
        padding: 5px 10px;
        border-radius: 2px;
        text-align: center;
        width: 100%;
        color: #fff;
        margin: 0px;
    }
    .third-section .danger a:hover {
        text-decoration: none;
        background: #fff;
        border: inherit;
        justify-content: center;
        padding: 5px 08px;
        border-radius: 4px;
        text-align: center;
        width: 100%;
        margin: 0px;
        color: #ec1f46;
    }

    
    /* fifth-section */
    .fifth-section .row .ftd1, .fifth-section .row .ftd2, .fifth-section .row .ftd3, .fifth-section .row .ftd4 {
        width: auto;
        height: 200px;
    }
    .fifth-section-2{
        display: flex;
    }
    .fifth-section{
        display: none;
    }
    .fifth-section-2{
        background: #f5fafe;
        color: #fff;
    }
    .fifth-section-2 .row .ftd1{
        background: url(./assets/Bg.png);
        background-repeat: no-repeat;
        background-size:contain;
        height: 256px;
        width: 100%;
    }
    .fifth-section-2 .row .ftd2{
        background: url('./assets/Bg\ \(1\).png');
        background-repeat: no-repeat;
        background-size:contain;
        height: 256px;
        width: 100%;
    }
    .fifth-section-2 .row .ftd3{
        background: url('./assets/Bg\ \(2\).png');
        background-repeat: no-repeat;
        background-size:contain;
        height: 256px;
        width: 100%;
    }
    .fifth-section-2 .row .ftd4{
        background: url('./assets/Bg\ \(3\).png');
        background-repeat: no-repeat;
        background-size:contain;
        height: 256px;
        width: 100%;
        
    }
    .fifth-section-2 .row .ftd1, .fifth-section-2 .row .ftd2,
    .fifth-section-2 .row .ftd3, .fifth-section-2 .row .ftd4{
       display: flex;
       justify-content: end;
       align-items: flex-end;
       justify-content: space-around;
    }
    .fifth-section-2 .danger a:hover {
        text-decoration: none;
        background: #fff;
        border: inherit;
        justify-content: center;
        padding: 10px 18px;
        border-radius: 4px;
        text-align: center;
        width: 100%;
        margin: 0px;
        color: #ec1f46;
    }
    .fifth-section-2 .danger a {
        text-decoration: none;
        background: #ec1f46;
        border: inherit;
        justify-content: center;
        padding: 10px 18px;
        border-radius: 4px;
        text-align: center;
        width: 100%;
        color: #fff;
        margin: 0px;
    }
    
    
}
